name: first_flutter
description: MedLab Inventory - Flutter scaffold (demo)
publish_to: "none"
version: 0.0.1
environment:
  sdk: ">=2.17.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  provider: ^6.0.5
  shared_preferences: ^2.1.1
  mobile_scanner: ^2.0.0
  intl: ^0.18.1
  cupertino_icons: ^1.0.5

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true